*.iml
.idea
*.swp
*.class
*.java
*.tags
*.swo
.project
.classpath
!recovery/*
!syntacticTree/*
!semanalysis/*
!symtable/*
pom.xml
recovery/*.class
syntacticTree/*.class
semanalysis/*.class
.classpath
.project
.settings/

bin/
