*.iml
.idea
*.swp
*.class
*.java
*.tags
*.swo
.project
.classpath
!recovery/*
!syntacticTree/*.java
!semanalysis/*.java
!symtable/*.java
pom.xml
recovery/*.class
syntacticTree/*.class
semanalysis/*.class
.classpath
.project
.settings/
